@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/*to remove margin and padding, and place your (hello dude) to upwards and joined  */
/* universal selector, everything you put here, it'll apply on your entire website*/

/*This is my Portfolio Website, where i used css properties and different kinds of tags*/
*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
/*To convert the portfolio container in rows and make it's style */
.portfolio-container{
    min-height: 100vh;
    width: 100%;
    display: flex; /*for background color*/
    background:#3b232b ;

}
.navlist{
    display: flex;   /*to convert into row*/
    gap: 2.5rem;     /*gap in between of all sections*/
    height: 15vh;    /*height of navigtion bar*/
    width: 100%;   /*width of the area*/
    justify-content: center; /*it will horizontally center your navigation bar*/
    align-items: center;  /*all section will align in center at the top*/
    position: fixed;    /*it is of, the 2 background color*/


}

/*to remove bullets*/
.navlist li{
    list-style: none;
}

/*to remove underlines, you have to choose anchor not list*/
.navlist li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1rem;
    color: #fff;    /*color of all sections */
    position: relative; /*for underline under all sections */

}
.left-container,.right-container{  /*As most of the properties are similar, we'll do here */
    height: 100vh;
    display: flex; /*icons, headings and para will be convertting in rows*/
    align-items: center; /*all your stuff of icons,para, haed comes in center*/

}
.left-container{
    background: black; /*black color*/
    width: 80%;
    padding-left: 3rem;  /*padding, becsause, all items are stick together*/

}
.right-container{
    background:#3b232b ;
    width: 20%;

}
.icons .fa-brands{
    color: #fffefe;
    font-size: 1.7rem; /*font size of icon, it'll increase*/
}
.icons{
    display: flex; /*to convert into rows*/
    flex-direction: column; /*convert your icons into column*/
    justify-content: center; /*to perfectly center the icons */
    align-items: center;    /* completely center the icons */
    gap: 3rem;  /* gap between each icons */

} 
.content{
    margin-left: 4rem; /*because, icons and all content are stick together, to make it separate we'll apply margin */
}
.content h3{
    font-size: 1.5rem;
    color: #fff;
}
.content .intro{
    font-size: 2rem;
    color: #fff;
}
.content h1{
    font-size: 4rem;
    color: #c45379;

}
.content p{
    color: #fff;
}
.content .intro span{ /*to change the color of the designer name (sarah jamani) */
    color: #3b232b;
}
.content .detail{     /*to change the font of paragraph */
    font-size: 1.1rem; 
    max-width: 38rem;
    margin: 1.1rem 0 3rem 0; /*top , right, bottom, left of paragraph */
    line-height: 2rem;
    margin-bottom: 3rem;
    line-height-step: 2;
}
.btn-container button{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    border: #684752;
}

button:nth-child(1){
    background: transparent;
    color: #81606b;
    margin-bottom: 3rem;
}

button:nth-child(1):hover{
    background:#81606b ;
    color: #262525;
}
.icons .fa-brands:hover{ /*hover on icons too here */
    cursor: pointer;
    background: linear-gradient(#fff , #944fa1 );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/*.design .circle{
    aspect-ratio: 1; /* as height of both circle will be same, so we right aspect ration in similar properties*/
    /*position: absolute;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
/*.circle:nth-child(1){
    background: red;
    width: 38rem;
}*/
/*.circle:nth-child(2){
    background: white;
    width: 30rem;
}*/

.navlist li a::after, .navlist .active ::after{ /*underline propertires */
    content: "";
    position: absolute;
    background: #fff;
    width: 100%;
    height: 0.1rem;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: bottom right;  /*the hover underline goes to right*/
    transition: transform .5s;
}
.navlist li a:hover::after, .navlist .active ::after{ /*the hover underline comes from left*/
    transform: scaleX(1);
    transform-origin: bottom left;
}

.hello{
    position: absolute;
    height: fit-content;
    left: 0px;
    width: 100px;
}


/*about section property*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.body{
    background-color: black;
}
.heading{ /*about me */
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.heading h1{
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
}
.heading h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #811c54;
}
.heading p{
    font-size: 18px;
    color: #666;
    margin-bottom: 35px;
}
.container{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3b232b;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.about-image{ /*image properties*/
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}
.about-content{
    flex: 3;
}
.about-content h2{
    font-size: 50px;
    
    margin-bottom: 25px;
    position: relative;

    
    color: #fffefe;
}
.about-content p{
    font-size: 20px;
    line-height: 2;
    color: #fff;
}
.about-content .read-more{
    display: inline-block;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
}

.about-content .read-more:hover{
    background-color:#81606b
}
@media screen and (max-width: 768px){
    .heading{
        padding: 0px 20px;
    }
    .heading h1{
        font-size: 36px;
    }
    .heading p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .container{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .about-image{
        margin-right: 0px;
        margin-bottom: 20px;
    }
    .about-content p{
        padding: 0px;
        font-size: 20px;
        list-style: 1.5;
    }
}

/*Skills section property*/
*{ /*earlier all skills were shown with dot beside it due to list, but with this code, that dot will remove*/
    font-family: Gill Sans, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
.body{
    background: #333;
    text-transform: uppercase;
}
.h1{ /*heading of list of Skills, place in center*/
    text-align: center;
    color: #c2b7b7;
}
.h3{
    margin: 5px;
    color: white;
}
.Key-Skills{
    width: 500px;
    margin: 60px auto;
    color: white;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); /*box will appear outside skills*/
}
.Key-Skills li{
    margin: 20px 0;
    padding: 10px;
}
.bar{  /*lines under html and java skills*/
    background: #353b48 ;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); 
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(148, 36, 105) 0%,rgba(252,103,103,1)100%);
}

.html{
    width: 86%;
    animation: html 3s;
}

.problem-solving{
    width: 60%;
    animation: problem-solving 4s;
}

.team{
    width: 90%;
    animation: team 3s;
}

.web-design{
    width: 80%;
    animation: web-design 3s;
}
.user {
    width: 90%;
    animation: user 3s;
}
.creativity {
    width: 70%;
    animation: creativity 3s;
}
.communication {
    width: 76%;
    animation: communication 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}

@keyframes team{
    0%{
        width: 0%;
    }
    100%{
        width: 93%;
    }

}
@keyframes communication{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }

}
@keyframes creativity{
    0%{
        width: 0%;
    }
    100%{
        width: 75%;
    }

}
@keyframes web-design{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }

}
@keyframes problem-solving{
    0%{
        width: 0%;
    }
    100%{
        width: 78%;
    }

}
@keyframes user{
    0%{
        width: 0%;
    }
    100%{
        width: 92%;
    }

}
/*aera of expertize*/
*{ /*earlier all expertise were shown with dot beside it due to list, but with this code , that dot will removes*/
    font-family: Gill Sans, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
.skill{
    background: #684752;
}
.body{
    background: #927e86;
    text-transform: uppercase;
}
.h2{ /*headings will place in center*/
    text-align: center;
}
.h4{
    margin: 5px;
}
.expert{
    width: 500px;
    margin: 60px auto;
    color: black;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); /*box will appear outside skills*/
}
.expert li{
    margin: 20px 0;
    padding: 10px;
}
.bar{  /*lines under creation*/
    background: #353b48 ;
    display: block;
    height: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); 
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22); 
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgb(148, 36, 105) 0%,rgba(252,103,103,1)100%);
}

.front{
    width: 75%;
    animation: front 2s;
}

.python{
    width: 85%;
    animation: python 4s;
}

.java{
    width: 90%;
    animation: java 3s;
}


@keyframes front{
    0%{
        width: 0%;
    }
    100%{
        width: 80%;
    }

}
@keyframes python{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }

}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 95%;
    }

}
/*project section property*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
img{
    max-width: 280px;
    float: left; /*image place on left*/
    border: #000;
    border-radius: 10px; /*that image curve shape*/
    margin-right: 15px ; /*gap from right beside the paragraph*/
    padding-block: 8px;  
}
.body{
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.head{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.head h1{
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
}
.head h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #811c54;
}
.about-project{
    width: 90%;
    margin: 60px auto;
    
    padding: 10px 20px;
    background-color: #3b232b;

}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
/*.about-image{
    flex: 1;
    margin-right: 40px;
    overflow: hidden;
}
.about-image img{
    max-width: 100%;
    height: auto;
    display: block;
    transition: 0.5s ease;
}
.about-image:hover img{
    transform: scale(1.2);
}*/
.project-content{
    flex: 3; 
}
.project-content h2{  /*eater and passer*/
    margin-top: 15px;
    font-size: 39px;
    margin-bottom: 25px;
    position: relative;
    color:rgb(118, 145, 136) ;
}
.project-content p{ 
    font-size: 20px;
    line-height: 2;
    color: #fff;
}
.project-content-2 h3{  /*university management system */
    font-size: 39px;
    margin-bottom: 25px;
    position: relative;
    color:rgb(118, 145, 136) ;
    margin-top: 15px; 
}
.project-content-2 p{ 
    font-size: 19px;
    line-height: 2;
    color: #fff;
}

.project-content-3 h4{  /*medical management system*/
    margin-top: 15px;
    font-size: 39px;
    margin-bottom: 25px;
    position: relative;
    color:rgb(118, 145, 136) ;
}
.project-content-3 p{ 
    font-size: 20pxpx;
    line-height: 2;
    color: #fff;
}
.project-content-4 h5{  /*photoshop */
    margin-top: 15px;
    font-size: 39px;
    margin-bottom: 20px;
    position: relative;
    color:rgb(118, 145, 136) ;
}
.project-content-4 p{ 
    font-size: 20px;
    line-height: 2;
    color: #fff;
    align-self:center ;
}
@media screen and (max-width: 768px){
    .head{
        padding: 0px 20px;
    }
    .head h1{
        font-size: 36px;
    }
    .head p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .about-project{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .project-content p{
        padding: 0px;
        font-size: 20px;
        list-style: 1.5;
    }
}

/* resume section property*/
/*{ 
    font-family: Gill Sans, sans-serif;
    list-style: none;
    padding: 0;
    margin: 0;
}
.Resume{
    background: #684752;
    position: relative;
}*/

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.body{
    background-color: black;
}
.Resume{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.Resume h1{
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
}
.Resume h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #811c54;
}
/*.resume-head0{ 
    font-size: 25px;
    text-align: center;
    margin: 5px;
}*/
.details{
    width: 90%;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #3b232b;
}
.about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.click{
    flex: 3;
}
.click h2{
    font-size: 30px;
    margin-bottom: 25px;
    position: relative;
    color: #fffefe;
}
.click h3{
    font-size: 20px;
    margin-bottom: 25px;
    position: relative;
    color: #fffefe;
}

@media screen and (max-width: 768px){
    .Resume{
        padding: 0px 20px;
    }
    .Resume h1{
        font-size: 36px;
    }
    .Resume p{
        font-size: 17px;
        margin-bottom: 0px;
    }
    .deatails{
        padding: 0px;
    }
    .about{
        padding: 20px;
        flex-direction: column;
    }
    .click p{
        padding: 0px;
        font-size: 20px;
        list-style: 1.5;
    }
}
.details .DOWNLOAD-NOW{
    display: flex;
    padding: 10px 20px;
    color: #fff;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin: auto;
    left: 50%;
    justify-content: center;
    transform: translateX(-50%);
    transition: 0.3s ease;
}
.details .DOWNLOAD-NOW:hover{
    background-color:#81606b
}
/*.button{
    width: 150px;
    height: 9px;
    background-color: white;
    color: white;
    border: 2px solid  white;
    font-size: 18px;
    font-family: sans-serif;
    border-radius: 5px;
    text-align: center;
}*/

/*.button .DOWNLOAD{
    display: inline-block;
    padding: 20px 40px;
    color: #fff;
    font-size: 25px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    text-align: center;
}
.button:hover{
    background-color: transparent;
    color:#944fa1;
}*/

/*.Resume .DOWNLOAD-NOW {
    display: flex ;
    padding: 10px 20px;
    color:#000 ;
    font-size: 19px;
    text-decoration: none;
    border-radius: 25px;
    margin-top: 15px;
    transition: 0.3s ease;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
    margin: auto;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Resume .DOWNLOAD-NOW:hover{
    background-color:#fff;
    text-align: center;

}*/

/* contact section property*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.body{
    background-color: black;
}
.contact{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: 20px auto;
}
.contact h1{
    font-size: 50px;
    color: black;
    margin-bottom: 25px;
    position: relative;
}
.contact h1::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    display: block;
    margin: 0 auto;
    background-color: #811c54;
}
.contact-wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 30px;
    background-color:#b8a7a7 ;
}

.contact-form{
    text-align: center ;
    margin-bottom: auto;
    margin-bottom: 20px;
}
.contact-form h2{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;  
}
.form-group{
    margin-bottom: 20px;
}
input, textarea{
    width: 50%;
    padding: 12px;
    border-radius: 8px;
    border: none;
    background-color: #f8f9fa;
    color: #333;
}
input:focus,
textarea:focus{
    outline: none;
    box-shadow: 0 0 8px #bbb;
}
button{
    display: inline-block;
    padding: 12px 24px;
    background-color: #448b46;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: 0.3s ease;
}
 button:hover{
    background-color: #45a049;
}
.contact-info{
    text-align: center;
    line-height: 1;
    justify-content: center;
}
.contact-info h3{
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}
.contact-info p{
    margin-bottom: 20px;
    color: green;
    line-height: 2;
}
.contact-info i{
   color: #4caf50;
   margin-right: 10px;
}
@media screen and(max-width: 768px){
    .contact-wrapper{
        grid-template-columns: 1fr;
    }

}
/*footer section property*/
/**{
    padding: 10;
    margin: 10;
    box-sizing: border-box;
}
footer{
    background: black;
}*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Roboto',sans-serif;
}
.body{
    background-color: black;
}
.footercontainer{
    width: 100%;
    padding: 60px 20px 10px;
    background:#3b232b;
    margin: 20px;
    padding: 10px;
}
.socialIcons{
    display: flex;
    justify-content: center;
}
.socialIcons a{
    text-decoration: none;
    background-color: white;
    padding: 8px;
    margin: 30px;
    border-radius: 20%;
}
.socialIcons a i{
    font-size: 1.5em;
    color:#684752;
    opacity: 0.9;
}
.socialIcons a:hover{
    background-color:#7c656d;
    transition: 0.5s;
}
.socialIcons a:hover i{
    color: white;
    transition: 0.5s;
}

/*.footerNav{
    margin: 30px 0;
}
.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none disc;
}
.footerNav ul li a{
    color: white;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7; 
    transition: 0.5s;
}
.footerNav ul li a:hover{
    opacity: 1;
}*/
.footerBottom{
    background-color: #000;
    padding: 20px;
    text-align: center;
}
.footerBottom p{
    color: white;
}
.designer{
    opacity: 0.7;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}
@media (max-width: 700px) {
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100px;
        text-align: center;
        margin: 10px;
        justify-content: center;
    }
    
}



