@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap'); /*google fonts*/

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-size: 'Poopins';
font-family: 'Poppins',sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex; /*place the calculator box in center you can use grid*/
    justify-content: center; /*horizontly align the calculator*/
    align-items: center; /*vertically align the calculator*/
    background:linear-gradient(45deg, #0a0a0a, #3a4452) ; /*I use 2 colors that's why I'm using Linear Gradient*/
}
.calculator{
    border: 1px solid #8f9299;
    padding: 20px, ; /*top bottom fro  right or left will place in middle*/
    border-radius: 16px; /*for soft corner or you can say a curve shape corners*/
    background: transparent; 
    box-shadow: 0px, 3px, 15px rgba(113,115,119,0.5); /*Positive value to show the shadow in downwords, if we apply negative values the shadow will show upwards, 0.5 is the opacity*/
    
}

input{
    width: 320px;
    border: none; /*to remove border from here*/
    padding: 24px; /*top , left and right*/
    margin: 10px;
    background: transparent;
    box-shadow: 0px 3px 15px rgba(84,84,84,0.1);
    font-size: 40px; /* size of 0*/
    text-align: right; /*the 0 will be in right*/
    cursor: pointer; 
    color: white;
} 
input::placeholder{
    color: #ffffff;
}
button{
    width: 60px;
    border: none;
    height: 60px;/*from this, the buttons will align together in a column*/
    margin: 10px; /*and to separate each button we use this*/
    border-radius: 50px; /*shape to circle*/
    background: transparent;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255,255,255,0.1); /*shadow around the circle that light it up*/
    cursor: pointer;
}
.equalBtn{  /*to color the equal to  button*/
    background-color: #fb7c14;
}
.operator{
    color: #a6c490;
}




  